header{
  background-image: url(images/your_verse_hero.jpg);
  padding-right: 250px;
  padding-left: 250px;
  padding-top: 400px;
  background-position: bottom;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  
}

.navbar-1{
  display: inline-block;
  position: absolute;
  left: 550px;
  top: 40px
}
h1{
  
}

.button {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333;;
  padding: 5px 7px 5px 7px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: relative;
    
  
}


   
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 30px;
  margin-right: 30px;
}